<h1>Memberships</h1>

<% if flash[:notice] %>
  <p style="background: yellow">
    <%= flash[:notice] %>
  </p>
<% end %>

<table border="1" class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <%= render @memberships %>
  </tbody>
</table>
<div class="btn-group" role="group">
  <%= link_to "New Membership", new_membership_path,class: "btn btn-default" %>
</div>
