<% if obj.errors.any? %>
<div class="form-group">
    Could not save changes due to the folowing errors:
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
      <div class="form-group">

        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
