<% if flash[:notice] %>
  <p style="background: yellow">
    <%= flash[:notice] %>
  </p>
<% end %>

<h1>Posts</h1>
<table border="1" class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Message</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <%= render @posts %>

  </tbody>
</table>
<%if current_user%>
  <div class="btn-group" role="group">
    <td><%= link_to "New Post", new_post_path, class: "btn btn-default" %>
  </div>
<%end%>
